<% @posts.each do |post|%>
  <div class="news-item" onclick="newsClick(this)">
    <div>
      <span><%= post.site_name%></span> -
      <span><%= post.published_at.strftime("%Y-%m-%d %H:%M:%S")%></span> |
      <span class="label warning"><%= post.category%></span> |
      <span class="label"><%= link_to "[原文]", post.source, :target=>"_blank"%></span>
      <div class="nail">
        <img class="span1" src=<%=post.thumbnail%> />
      </div>
    </div>
    <div>
      <h2><%= link_to post.title, "#", :onclick=>"newsClick(this.parentNode.parentNode);return false"%></h2>
      <div class="hidden-id"><%= post.published_at.strftime("%Y-%m-%d %H:%M:%S")%></div>
    </div>
  </div>
<% end %>
