<div class="container-fluid">
  <div class="sidebar">
    <div class="hidden-cate"><%= session[:category]%></div>
    <div id="news-view" class="well">
      <ul>
        <% @posts.each do |post|%>
          <li>
          <div class="news-item" onclick="newsClick(this)">
            <div>
              <span><%= post.site_name%></span> -
              <span><%= post.published_at.strftime("%Y-%m-%d %H:%M:%S")%></span> |
              <span class="label warning"><%= post.category%></span> |
              <span class="label"><%= link_to "[原文]", post.source, :target=>"_blank"%></span>
              <div class="nail">
                <img class="span1" src=<%=post.thumbnail%> />
             </div>
            </div>

            <h3><%= link_to post.title, "#", :onclick=>"newsClick(this.parentNode.parentNode);return false"%></h3>
            <div class="hidden-id"><%= post.id%></div>
          </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div style="width:100%;height:70px;">
      <div id="loading_more" class="more_loader"><%= image_tag('ajax-loader.gif')%> 正在加载更多新闻...</div>
    </div>
  </div>

  <div class="content">
    <div id="preview_header" class="preview_header">
      <div style="float:left;"><%= image_tag 'basic_view.gif',:style=>"vertical-align:middle;"%><span style="margin-left:10px">原文阅读</span></div>
    </div>

    <div id="preview_pannel" class="preview_pannel" style="margin:0 auto">
      <table width="99%">
        <tr>
          <td id="preview_content">
            <div id="preview_loader">
              <div class='preview_loader_title'></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


